html {
  scroll-behavior: smooth;
}
.navbar {
  position: fixed;
  z-index: 99;
  padding: 25px 25px 25px 25px;
  text-decoration: none;
  margin: -10px 0 0 -10px;
  height: 8%;
  width: 100%;
  transition: all 500ms ease-in;
  /* background-color: violet; */
}
.menu-bar {
  display: inline-flex;
}
.logo img {
  max-height: 12vh;
  max-width: 35vh;
  margin-top: 12px;
  margin-left: 40px;
}

.menu li {
  display: inline-block;
  justify-content: space-between;
  text-align: center;
  text-decoration: none;
  font-weight: 200;
}
.menu {
  margin-left: 220px;
}

li a {
  padding: 15px;
  font-size: 25px;
  text-decoration: none;
  color: white;
  transition: all 0.6s ease;
}
li a:hover {
  color: rgb(17, 192, 31);
  cursor: pointer;
  transition: all 0.6s ease;
}

.glow-on-hover {
  width: 100px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  margin-left: 25px;
  margin-top: 5px;
  font-weight: 400;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 600%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.banner {
  background: url("/images/banner.gif") no-repeat center fixed;
  text-decoration: none;
  padding-top: 300px;
  padding-left: 13vh;
  overflow-x: clip;
  margin: -8px;
  background-size: cover;
  background-attachment: fixed;
  height: 60vh;
  /* transition: all 0.6s ease; */
}

/* banner section -->  */

.banner-content h1 {
  font-size: 5vw;
  color: #00ffd5;
  text-align: center;
  text-transform: capitalize;
  line-height: 5px;
  margin-right: 90px;
}
.banner-content p {
  font-size: 5vw;
  color: #e2f3f5;
  text-align: center;
  text-transform: capitalize;
  line-height: 20px;
  margin-right: 90px;
}
.banner-content p span {
  position: relative;
  display: inline-block;
  animation: animate 2s ease-in-out infinite;
}

@keyframes animate {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-30px);
  }
  50%,
  100% {
    transform: translateY(0px);
  }
}

#About{
  height: 100vh;
}
.about {
  font-size: 30px;
  font-weight: bolder;
  color: #ff00b3;
  text-align: center;
  font-family: sans-serif; 

  /*text-decoration-line:underline ;
   text-decoration-thickness: 12%;
   text-decoration-color: gray;*/
}
.nuke {
  display: block;
}
.About {
  margin-top: -30px;
}

div .head {
  color: #ff00b3;
  font-family: sans-serif;
  font-size: 30px;
}
div .tuned {
  font-size: 16px;
  font-family: cursive;
  color: #ff00b3;
}

/* Sponsor section CSS */
.sponsor-heading {
  text-align: center;
  justify-content: center;
  font-size: 3.5em;
  /* color: #9c1de7; */
  color: #ff00b3;
}
body {
  background: navy;
}
.section-padding {
  padding: 60px 0;
}
.brand-carousel {
  background: navy;
  margin-top: 3%;
  margin-right: 30px;
}
.owl-dots {
  text-align: center;
  margin-top: 4%;
}
.owl-dot {
  display: inline-block;
  height: 15px !important;
  width: 15px !important;
  background-color: #878787 !important;
  opacity: 0.8;
  border-radius: 50%;
  margin: 0 5px;
}
.owl-dot.active {
  background-color: #000 !important;
}








/* Footer section */


.footer {
	width: 100%;
	background: #00121b;
	display: block;
 }

 .inner-footer {
	 width: 95%;
	 margin: auto;
	 padding: 30px 10px;
	 display: flex;
	 flex-wrap: wrap;
	 box-sizing: border-box;
	 justify-content: center;
 }

.footer-items {
	width: 25%;
	padding: 10px 20px;
	box-sizing: border-box;
	color: #fff;
}

.footer-items p {
	font-size: 16px;
	text-align: justify;
	line-height: 25px;
	color: #fff;
}

.footer-items h1 {
	color: #fff;
}

.border1 {
	height: 3px;
	width: 40px;
	background: #ff9800;
	color: #ff9800;
	background-color: #ff9800;
	border: 0px;
}

ul {
	list-style: none;
	color: #fff;
	font-size: 15px;
	letter-spacing: 0.5px;	
 }

ul a {
	text-decoration: none;
	outline: none;
	color: #fff;
	transition: 0.3s;
}

ul a:hover {
	color: #ff9800;
}

ul li {
	margin: 10px 0;
	height: 25px;
}

li i {
	margin-right: 20px;
}

.social-media {
	width: 100%;
	color: #fff;
	text-align: center;
	font-size: 20px;
}

.social-media a {
	text-decoration: none;
}

.social-media i {
	height: 25px;
	width: 25px;
	margin: 20px 10px;
	padding: 4px;
	color: #fff;
	transition: 0.5s;
}

.social-media i:hover {
	transform: scale(1.5);
}

.footer-bottom {
	padding: 10px;
	background: #00121b;
	color: #fff;
	font-size: 12px;
	text-align: center;
}



@media screen and (max-width: 1275px) {
	.footer-items {
		width: 50%;
	}
}


@media screen and (max-width: 660px) {
	.footer-items {
		width: 100%;
	}
}
